<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NotifyMe</title>
    <link rel="icon" type="image/gif/png" href="datelogo.png">
    <!-- Bootstrap CSS -->

    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>




    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

    <style>
        .jumbotron {
            position: relative;
            background: #000 url("eventsback.jpg");
            width: 100%;
            height: 100%;
            background-size: cover;
            overflow: inherit;
            background-blend-mode: lighten;
        }

        .above {
            margin-top: -0.8em;
            margin-bottom: 2em;
            background: white;
        }


        .affix {
            top: 0;
            width: 100%;
            z-index: 9999 !important;
        }

        .affix+.container-fluid {
            padding-top: 0px;
        }

        .modal-body {
            overflow-y: inherit;
            z-index: 9999;
        }




        .footer-distributed {
            background-color: #292c2f;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
            box-sizing: border-box;
            width: 100%;
            text-align: left;
            font: bold 16px sans-serif;

            padding: 55px 50px;
            margin-top: 80px;
        }

        .footer-distributed .footer-left,
        .footer-distributed .footer-center,
        .footer-distributed .footer-right {
            display: inline-block;
            vertical-align: top;
        }

        /* Footer left */

        .footer-distributed .footer-left {
            width: 40%;
        }

        /* The company logo */

        .footer-distributed h3 {
            color: #ffffff;
            font: normal 36px 'Cookie', cursive;
            margin: 0;
        }

        .footer-distributed h3 span {
            color: #5383d3;
        }

        /* Footer links */

        .footer-distributed .footer-links {
            color: #ffffff;
            margin: 20px 0 12px;
            padding: 0;
        }

        .footer-distributed .footer-links a {
            display: inline-block;
            line-height: 1.8;
            text-decoration: none;
            color: inherit;
        }

        .footer-distributed .footer-company-name {
            color: #8f9296;
            font-size: 14px;
            font-weight: normal;
            margin: 0;
        }

        /* Footer Center */

        .footer-distributed .footer-center {
            width: 35%;
        }

        .footer-distributed .footer-center i {
            background-color: #33383b;
            color: #ffffff;
            font-size: 25px;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            text-align: center;
            line-height: 42px;
            margin: 10px 15px;
            vertical-align: middle;
        }

        .footer-distributed .footer-center i.fa-envelope {
            font-size: 17px;
            line-height: 38px;
        }

        .footer-distributed .footer-center p {
            display: inline-block;
            color: #ffffff;
            vertical-align: middle;
            margin: 0;
        }

        .footer-distributed .footer-center p span {
            display: block;
            font-weight: normal;
            font-size: 14px;
            line-height: 2;
        }

        .footer-distributed .footer-center p a {
            color: #5383d3;
            text-decoration: none;
            ;
        }


        /* Footer Right */

        .footer-distributed .footer-right {
            width: 20%;
        }

        .footer-distributed .footer-company-about {
            line-height: 20px;
            color: #92999f;
            font-size: 13px;
            font-weight: normal;
            margin: 0;
        }

        .footer-distributed .footer-company-about span {
            display: block;
            color: #ffffff;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .footer-distributed .footer-icons {
            margin-top: 25px;
        }

        .footer-distributed .footer-icons a {
            display: inline-block;
            width: 35px;
            height: 35px;
            cursor: pointer;
            background-color: #33383b;
            border-radius: 2px;

            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;

            margin-right: 3px;
            margin-bottom: 5px;
        }

        /* If you don't want the footer to be responsive, remove these media queries */

        @media (max-width: 880px) {

            .footer-distributed {
                font: bold 14px sans-serif;
            }

            .footer-distributed .footer-left,
            .footer-distributed .footer-center,
            .footer-distributed .footer-right {
                display: block;
                width: 100%;
                margin-bottom: 40px;
                text-align: center;
            }

            .footer-distributed .footer-center i {
                margin-left: 0;
            }

        }

    </style>

</head>

<body>


    <div class="container above" style="background: white;">
    </div>
    <!--nav bar-->
    <nav class="navbar navbar-light" data-spy="affix" data-offset-top="20" style="margin-bottom: 1em; margin-top: -0.1em;">
        <div class="container-fluid" style="background-color: white;">
            <div class="navbar-header">
                <!--href to register page-->
                <!--                <a class="navbar-brand" href="/public/index.html">-->
                <img style="display: inline-block; height: 3em; width: 3em; margin-top: -0.8em;" src="datelogo.png">
                <!--                    <i style="display: inline-block; margin-right: 1.5em;" class="glyphicon glyphicon-calendar"></i>-->
                <span style="display: inline-block;"><font size="5" color="black">NotifyMe</font></span>
            </div>
            <div>
                <ul class="nav navbar-nav mr-auto pull-right" style="display: inline-block;">
                    <li>
                        <button type="button" id="home_navbar_btn" class="btn btn-default" style="background-color: white; color: #09609f; border: 0.5px solid #4CAF50; hover:background-color: #4CAF50;">Home</button>
                    </li>
                    <li>
                        <button type="button" id="profile_name" class="btn btn-default" style="background-color: white; color: #05a30c; border: 0.5px solid #4CAF50; hover:background-color: #4CAF50; margin-left: 1em;">Guest</button>
                    </li>

                    <li>
                        <button type="button" id="logout_navbar_btn" class="btn btn-default" style="background-color: white; color: #f70707; border: 0.5px solid #4CAF50; hover:background-color: #4CAF50; margin-left: 1em;">Log Out</button>
                    </li>

                    <li>
                        <button type="button" id="contact_us" class="btn btn-default" style="background-color: white; color: #000000; border: 0.5px solid #4CAF50; hover:background-color: #4CAF50; margin-left: 1em;">Contact Us</button>
                    </li>

                </ul>


            </div>
        </div>
    </nav>



    <!-- Modal -->
    <div class="modal fade" id="eventModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <center>
                        <img style="display: inline-block; height: 3em; width: 3em; margin-top: -1em;" src="datelogo.png">
                        <!--                    <i style="display: inline-block; margin-right: 1.5em;" class="glyphicon glyphicon-calendar"></i>-->
                        <span style="display: inline-block;"><font size="5" color="black">NotifyMe</font></span>
                    </center>
                </div>
                <div class="modal-body">
                    <h4 class="modal-title">Event Created</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" id="eventModal_btn" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#loginModal">Home</button>
                </div>
            </div>

        </div>
    </div>




    <center>
        <!-- Hero section -->
        <div style="background: url('createevent.png'); margin-top: -0.5em;">
            <div class="container--flex">

                <div class="card">
                    <div style="display:none;"></div>
                    <div style="width:400px; height: 72em;" >
                        <div class="card-block">
                            <p class="card-title" id="event_name_card1"><font size="6" color="ghostwhite">Create Event</font></p>
                        </div>

                        <!--
                                <div class="input-group" style="margin: 1.5em;">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input class="form-control" id="event_username" type="text" value="" placeholder="Username" data-placement="right" style="min-width: 100%;" required/>
                                </div>
-->

                        <li class="list-group-item">

                            <div class="input-group" style="margin: 1.5em;">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-hand-right"></i></span>
                                <input class="form-control" id="event_name" type="text" value="" placeholder="Event Name" data-placement="right" style="min-width: 100%;" required/>
                            </div>
                        </li>

                        <li class="list-group-item">

                            <div class="input-group" style="margin: 1.5em;">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-comment"></i></span>
                                <textarea id="event_desc" class="form-control" style="min-width: 100%;" placeholder="Event Description" required></textarea>
                            </div>

                        </li>
                        <li class="list-group-item">

                            <div id="event_start" class="input-group" style="margin: 1.5em;">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                <input id="start_date" type="text" name="name" value="" style="min-width: 100%; height: 2.5em;" placeholder="Starts..." data-toggle="tooltip" data-placement="center" required/>

                                <input id="start_time" class="timepicker" style="min-width: 100%; margin-top: 0.3em;" />

                            </div>

                        </li>
                        <li class="list-group-item">

                            <div id="event_end" class="input-group" style="margin: 1.5em;">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                <input id="end_date" type="text" placeholder="Ends..." style="min-width: 100%; height: 2.5em;" data-placement="right" required/>

                                <input id="end_time" class="timepicker" style="min-width: 100%; margin-top: 0.3em;" />
                            </div>
                        </li>

                        <li class="list-group-item">

                            <div class="input-group" style="margin: 1.5em;">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input class="form-control" id="event_capacity" type="number" value="" placeholder="Capacity" data-placement="right" style="min-width: 100%; height: 2.5em;" min="1" max="500" required/>
                            </div>

                        </li>
                        <li class="list-group-item">

                            <div class="input-group" style="margin: 1.5em;">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
                                <input class="form-control" id="event_location" type="text" value="" placeholder="Location" data-placement="right" style="min-width: 100%;" required/>
                            </div>

                        </li>

                        <li class="list-group-item">

                            <div class="input-group" style="margin: 1.5em;">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                <input class="form-control" id="event_contact" type="text" value="" placeholder="Contact Number" data-placement="right" style="min-width: 100%;" required/>
                            </div>

                        </li>

                        <li class="list-group-item">

                            <div style="margin: 1.5em;">
                                <p class="text-center">

                                    <button type="button" class="btn btn-success" id="create_event_btn" name="commit" value="request"><font size="3">Create event</font></button>
                                </p>
                                <hr>
                            </div>
                        </li>


                    </div>
                </div>

            </div>
        </div>

    </center>



    <footer class="footer-distributed" id="footer_section">

        <div class="footer-left">

            <span><img style="display: inline-block; height: 3em; width: 3em; margin-top: -1em;" src="datelogo.png"></span>
            <h3>NotifyMe</h3>

            <p class="footer-company-name" style="margin-top: 1em;">NotifyMe &copy; 2017</p>
        </div>

        <div class="footer-center">

            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>IIIT Hyderabad, Gachibowli</span> Hyderabad, India</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+91 987654321</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p>support@notifyme.com</p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <span>About the company</span> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
            </p>

            <div class="footer-icons">

                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>

            </div>

        </div>

    </footer>



    <script>
        $(document).ready(function() {

            console.log("login document ready");

            $('#start_date').datepicker();
            $('#end_date').datepicker();



            $('.timepicker').timepicker({
                timeFormat: 'h:mm p',
                interval: 15,
                minTime: '10',
                maxTime: '11:00pm',
                defaultTime: '11',
                startTime: '10:00',
                dynamic: true,
                dropdown: true,
                scrollbar: true,
            });


            $("#create_event_btn").click(function() {

                var username = localStorage.getItem("username_local");

                var eventname = document.getElementById("event_name").value;
                var eventdesc = document.getElementById("event_desc").value;
                var startdate = document.getElementById("start_date").value;
                var starttime = document.getElementById("start_time").value;
                var enddate = document.getElementById("end_date").value;
                var endtime = document.getElementById("end_time").value;
                var location = document.getElementById("event_location").value;
                var contact = document.getElementById("event_contact").value;
                var capacity = document.getElementById("event_capacity").value;


                var data = {

                    username: username,
                    eventname: eventname,
                    eventdesc: eventdesc,
                    startdate: startdate,
                    starttime: starttime,
                    enddate: enddate,
                    endtime: endtime,
                    location: location,
                    contact: contact,
                    capacity: capacity,

                };

                console.log(data.capacity + " " + data.contact + " " + data.location);
                //alert(eventname + eventdesc + startdate + starttime + enddate + endtime);

                $.ajax({
                    type: 'POST',
                    url: '/create_event',
                    data: data,
                    success: function(data) {
                        //do something with the data via front-end framework
                        //location.reload();
                        //renderHtml(data);
                        console.log("inside create event call back");
                        console.log(data);

                        //window.location.pathname = "/home"
                        //$("#signupModal").modal('show');
                    }
                });

                document.getElementById("event_name").innerHTML = "";
                document.getElementById("event_desc").innerHTML = "";
                document.getElementById("start_date").innerHTML = "";
                document.getElementById("start_time").innerHTML = "";
                document.getElementById("end_date").innerHTML = "";
                document.getElementById("end_time").innerHTML = "";
                document.getElementById("event_location").innerHTML = "";
                document.getElementById("event_contact").innerHTML = "";
                document.getElementById("event_capacity").innerHTML = "";

            });



            $("#logout_navbar_btn").click(function() {
                $.ajax({
                    type: 'GET',
                    url: '/register',
                    success: function(data) { //do something with the data via front-end framework //location.reload(); //renderHtml(data); 

                        window.location.pathname = "/register"
                    }
                });
                return false;
            });


            var username_print = localStorage.getItem("username_local");
            document.getElementById("profile_name").innerHTML = username_print;


            $("#profile_name").click(function() {
                $.ajax({
                    type: 'GET',
                    url: '/notify',
                    success: function(data) {
                        window.location.pathname = "/notify"
                        console.log("welcome");
                    }

                });
                return false;
            });



            $("#home_navbar_btn").click(function() {
                $.ajax({
                    type: 'GET',
                    url: '/home',
                    success: function(data) {
                        window.location.pathname = "/home"
                        console.log("home from event created");
                    }

                });
                return false;
            });


            $("#contact_us").click(function() {
                $('html,body').animate({
                    scrollTop: $("#footer_section").offset().top
                }, 'medium');

            });




        });

    </script>

    <!-- jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>


    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>

</html>
