<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NotifyMe</title>
    <link rel="icon" type="image/gif/png" href="datelogo.png">
    <!-- Bootstrap CSS -->

    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>




    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

    <style>
        .jumbotron {
            position: relative;
            background: #000 url("eventsback.jpg");
            width: 100%;
            height: 100%;
            background-size: cover;
            overflow: inherit;
            background-blend-mode: lighten;
        }

        .above {
            margin-bottom: 10px;
        }


        .affix {
            top: 0;
            width: 100%;
            z-index: 9999 !important;
        }

        .affix+.container-fluid {
            padding-top: 0px;
        }

        .modal-body {
            overflow-y: inherit;
            z-index: 9999;
        }

        .input-group {
            overflow-y: inherit;
            z-index: 9999 !important;
        }

    </style>

</head>

<body>


    <div class="container above">
    </div>
    <!--nav bar-->
    <nav class="navbar navbar-light" data-spy="affix" data-offset-top="10">
        <div class="container-fluid" style="background-color: white;">
            <div class="navbar-header">
                <!--href to register page-->
                <!--                <a class="navbar-brand" href="/public/index.html">-->
                <img style="display: inline-block; height: 3em; width: 3em; margin-top: -1em;" src="datelogo.png">
                <!--                    <i style="display: inline-block; margin-right: 1.5em;" class="glyphicon glyphicon-calendar"></i>-->
                <span style="display: inline-block;"><font size="5" color="black">NotifyMe</font></span>
            </div>
        </div>
    </nav>





    <div class="jumbotron jumbotron-fluid" style="margin-top: -1em;">
        <center>
            <!-- Hero section -->
            <div>
                <div class="container--flex">
                    <div>
                        <p>
                            <font size=8 color="ghostwhite">Create Event</font>
                        </p>

                        <form>

                            <div style="width:450px; margin-top: 2.5em;">
                               
                               <div class="input-group" style="margin: 1.5em;">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input class="form-control" id="event_username" type="text" value="" placeholder="Username" data-placement="right" style="min-width: 100%;" required/>
                                </div>
                               
                                <div class="input-group" style="margin: 1.5em;">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input class="form-control" id="event_name" type="text" value="" placeholder="Event Name" data-placement="right" style="min-width: 100%;" required/>
                                </div>

                                <div class="input-group" style="margin: 1.5em;">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <textarea id="event_desc" class="form-control" style="min-width: 100%;" placeholder="Event Description" required></textarea>
                                </div>


                                <div id="event_start" class="input-group" style="margin: 1.5em;">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input id="start_date" type="text" name="name" value="" style="min-width: 100%; height: 2.5em;" placeholder="Starts..." data-toggle="tooltip" data-placement="center" required/>

                                    <input id="start_time" class="timepicker" style="min-width: 100%; margin-top: 0.3em;" />

                                </div>

                                <div id="event_end" class="input-group" style="margin: 1.5em;">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input id="end_date" type="text" placeholder="Ends..." style="min-width: 100%; height: 2.5em;" data-placement="right" required/>

                                    <input id="end_time" class="timepicker" style="min-width: 100%; margin-top: 0.3em;" />
                                </div>
                                
                                <div class="input-group" style="margin: 1.5em;">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input class="form-control" id="event_capacity" type="number" value="" placeholder="Capacity" data-placement="right" style="min-width: 100%; height: 2.5em;" min="1" max="500" required/>
                                </div>

                                <div class="input-group" style="margin: 1.5em;">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input class="form-control" id="event_location" type="text" value="" placeholder="Location" data-placement="right" style="min-width: 100%;" required/>
                                </div>
                                
                                <div class="input-group" style="margin: 1.5em;">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input class="form-control" id="event_contact" type="text" value="" placeholder="Contact Number" data-placement="right" style="min-width: 100%;" required/>
                                </div>

                                <div style="margin: 1.5em;">
                                    <p class="text-center">

                                        <button type="button" class="btn btn-success" id="create_event_btn" name="commit" value="request" style="background-color: ghostwhite;"><font size="3" color="black">Create event</font></button>
                                    </p>
                                    <hr>
                                </div>
                                
                                
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </center>
    </div>


    <div style="margin-top: 10em;"></div>


    <script>
        $(document).ready(function() {

            console.log("login document ready");

            $('#start_date').datepicker();
            $('#end_date').datepicker();



            $('.timepicker').timepicker({
                timeFormat: 'h:mm p',
                interval: 15,
                minTime: '10',
                maxTime: '11:00pm',
                defaultTime: '11',
                startTime: '10:00',
                dynamic: true,
                dropdown: true,
                scrollbar: true,
            });


            $("#create_event_btn").click(function() {

                var eventname = document.getElementById("event_name").value;
                var eventdesc = document.getElementById("event_desc").value;
                var startdate = document.getElementById("start_date").value;
                var starttime = document.getElementById("start_time").value;
                var enddate = document.getElementById("end_date").value;
                var endtime = document.getElementById("end_time").value;


                var data = {
                    eventname: eventname,
                    eventdesc: eventdesc,
                    startdate: startdate,
                    starttime: starttime,
                    enddate: enddate,
                    endtime: endtime

                };

                //alert(eventname + eventdesc + startdate + starttime + enddate + endtime);

                $.ajax({
                    type: 'POST',
                    url: '/create_event',
                    data: data,
                    success: function(data) {
                        //do something with the data via front-end framework
                        //location.reload();
                        //renderHtml(data);
                        console.log("inside create event call back");
                        console.log(data);

                        window.location.pathname = "/home"
                        //$("#signupModal").modal('show');
                    }
                });
            });


        });

    </script>

    <!-- jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>


    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>

</html>
