<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NotifyMe</title>
    <link rel="icon" type="image/gif/png" href="datelogo.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="footer, address, phone, icons" />



    <!-- Bootstrap CSS -->

    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">




    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">



    <style>
        .jumbotron {
            position: relative;
            /*            background: #000 url("jumbo1.jpg");*/
            background: transparent;
            width: 100%;
            height: 100%;
            background-size: cover;
            overflow: hidden;
            background-blend-mode: lighten;
            margin-bottom: -30px;
        }

        .above {
            margin-bottom: 10px;
        }


        .affix {
            top: 0;
            width: 100%;
            z-index: 9999 !important;
        }

        .affix+.container-fluid {
            padding-top: 0px;
        }

        .modal-body {
            overflow-y: inherit;
            z-index: 9999;
        }

        .input-group {
            overflow-y: inherit;
            z-index: 9999 !important;
        }

        .col-sm-4 {
            width: 31.833333%;
            margin: 0.5%;
        }


        .myelement {
            background: rgba(0, 0, 0, 0.15);
        }

        .special-card {
            /* create a custom class so you 
   do not run into specificity issues 
   against bootstraps styles
   which tends to work better than using !important 
   (future you will thank you later)*/
            background-color: rgba(245, 245, 245, 1);
            opacity: .4;
            font-weight: 400;
        }


        .footer-distributed {
            background-color: #ffffff;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
            box-sizing: border-box;
            width: 100%;
            text-align: left;
            font: bold 16px sans-serif;

            padding: 55px 50px;
            margin-top: 0px;
        }

        .footer-distributed .footer-left,
        .footer-distributed .footer-center,
        .footer-distributed .footer-right {
            display: inline-block;
            vertical-align: top;
        }

        /* Footer left */

        .footer-distributed .footer-left {
            width: 40%;
        }

        /* The company logo */

        .footer-distributed h3 {
            color: #000000;
            font: normal 36px 'Cookie', cursive;
            margin: 0;
        }

        .footer-distributed h3 span {
            color: #5383d3;
        }

        /* Footer links */

        .footer-distributed .footer-links {
            color: #000000;
            margin: 20px 0 12px;
            padding: 0;
        }

        .footer-distributed .footer-links a {
            display: inline-block;
            line-height: 1.8;
            text-decoration: none;
            color: inherit;
        }

        .footer-distributed .footer-company-name {
            color: #8f9296;
            font-size: 14px;
            font-weight: normal;
            margin: 0;
        }

        /* Footer Center */

        .footer-distributed .footer-center {
            width: 35%;
        }

        .footer-distributed .footer-center i {
            background-color: #33383b;
            color: #ffffff;
            font-size: 25px;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            text-align: center;
            line-height: 42px;
            margin: 10px 15px;
            vertical-align: middle;
        }

        .footer-distributed .footer-center i.fa-envelope {
            font-size: 17px;
            line-height: 38px;
        }

        .footer-distributed .footer-center p {
            display: inline-block;
            color: #000000;
            vertical-align: middle;
            margin: 0;
        }

        .footer-distributed .footer-center p span {
            display: block;
            font-weight: normal;
            font-size: 14px;
            line-height: 2;
        }

        .footer-distributed .footer-center p a {
            color: #5383d3;
            text-decoration: none;
            ;
        }


        /* Footer Right */

        .footer-distributed .footer-right {
            width: 20%;
        }

        .footer-distributed .footer-company-about {
            line-height: 20px;
            color: #92999f;
            font-size: 13px;
            font-weight: normal;
            margin: 0;
        }

        .footer-distributed .footer-company-about span {
            display: block;
            color: #000000;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .footer-distributed .footer-icons {
            margin-top: 25px;
        }

        .footer-distributed .footer-icons a {
            display: inline-block;
            width: 35px;
            height: 35px;
            cursor: pointer;
            background-color: #33383b;
            border-radius: 2px;

            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;

            margin-right: 3px;
            margin-bottom: 5px;
        }

        /* If you don't want the footer to be responsive, remove these media queries */

        @media (max-width: 880px) {

            .footer-distributed {
                font: bold 14px sans-serif;
            }

            .footer-distributed .footer-left,
            .footer-distributed .footer-center,
            .footer-distributed .footer-right {
                display: block;
                width: 100%;
                margin-bottom: 40px;
                text-align: center;
            }

            .footer-distributed .footer-center i {
                margin-left: 0;
            }

        }

    </style>

</head>

<body style="background: url('homeback.jpg'); background-repeat: no-repeat; background-size: 100%;">

    <!-- Modal -->
    <div class="modal fade" id="eventCreatedModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <center>
                        <img style="display: inline-block; height: 3em; width: 3em; margin-top: -1em;" src="datelogo.png">
                        <!--                    <i style="display: inline-block; margin-right: 1.5em;" class="glyphicon glyphicon-calendar"></i>-->
                        <span style="display: inline-block;"><font size="5" color="black">NotifyMe</font></span>
                    </center>
                </div>
                <div class="modal-body">
                    <h4 class="modal-title">Event Created</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" id="createdOK_btn" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>

        </div>
    </div>







    <div class="modal fade" id="createEventModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create Event</h4>
                </div>
                <div class="modal-body">
                    <center>
                        <form>

                            <div style="width:450px; margin-top: 2.5em;">
                                <div class="input-group" style="margin: 1.5em;">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input class="form-control" id="event_name" type="text" value="" placeholder="Event Name" data-placement="right" style="min-width: 100%;" required/>
                                </div>

                                <div class="input-group" style="margin: 1.5em;">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <textarea id="event_desc" class="form-control" style="min-width: 100%;" placeholder="Event Description" required></textarea>
                                </div>


                                <div id="event_start" class="input-group" style="margin: 1.5em;">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input id="start_date" type="text" name="name" value="" style="min-width: 100%; height: 2.5em;" placeholder="Starts..." data-toggle="tooltip" data-placement="center" required/>

                                    <input id="start_time" class="timepicker" style="min-width: 100%;" />

                                </div>

                                <div id="event_end" class="input-group" style="margin: 1.5em;">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input id="end_date" type="text" placeholder="Ends..." style="min-width: 100%; height: 2.5em;" data-placement="right" required/>

                                    <input id="end_time" class="timepicker" style="min-width: 100%;" />
                                </div>

                                <div style="margin: 1.5em;">
                                    <p class="text-center">

                                        <button type="button" class="btn btn-success" id="create_event_btn" name="commit" value="request" style="background-color: darkseagreen;"><font size="3" color="white" data-dismiss="modal" data-toggle="modal" data-target="#eventCreatedModal">Create event</font></button>
                                    </p>
                                    <hr>
                                </div>
                            </div>
                        </form>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <!--

    <div class="container above" style="background: transparent;">
    </div>
-->
    <!--nav bar-->
    <nav class="navbar navbar-light myelement" data-spy="affix" data-offset-top="10" style="margin-bottom: 0.5em;">
        <div class="container-fluid" style="background: transparent; margin: 0.5em;">
            <div class="navbar-header">
                <img style="display: inline-block; height: 3em; width: 3em; margin-top: -0.5em;" src="datelogo.png">
                <span style="display: inline-block; font: bold 36px 'Cookie', cursive;"><font size="6.5" color="black">NotifyMe</font></span>
            </div>

            <ul class="nav navbar-nav mr-auto pull-right" style="display: inline-block; margin-bottom: 0.5em;">
                <li>
                    <button type="button" id="create_event_navbar_btn" class="btn btn-default" style="background-color: transparent; border: 0.5px solid #4CAF50; hover:background-color: #4CAF50;">Create Event</button>
                </li>
                <li>
                    <button type="button" id="view_event_navbar_btn" class="btn btn-default" style="background-color: transparent; border: 0.5px solid #4CAF50; hover:background-color: #4CAF50; margin-left: 0.5em;" href="#events_table">View Events</button>
                </li>
                <li>
                    <button type="button" id="profile_name" class="btn btn-default" style="background-color: transparent; border: 0.5px solid #4CAF50; hover:background-color: #4CAF50; margin-left: 0.5em;">Guest<span class="badge" id="notifications">2</span></button>
                </li>
                <li>
                    <button type="button" id="calendar" class="btn btn-default" style="background-color: transparent; border: 0.5px solid #4CAF50; hover:background-color: #4CAF50; margin-left: 0.5em;">Calendar</button>
                </li>
                <li>
                    <button type="button" id="logout_navbar_btn" class="btn btn-default" style="background-color: transparent; border: 0.5px solid #4CAF50; hover:background-color: #4CAF50; margin-left: 0.5em;">Log Out</button>
                </li>

                <li>
                    <button type="button" id="contact_us" class="btn btn-default" style="background-color: transparent; border: 0.5px solid #4CAF50; hover:background-color: #4CAF50; margin-left: 0.5em;">Contact Us</button>
                </li>

            </ul>

        </div>
    </nav>



    <div class="jumbotron jumbotron-fluid" style="margin-top: -1em;">

        <h2 style="margin-left: 3.2em; margin-top: -1em; margin-bottom: 1em;">
            <font color=#095c8f>Upcoming Events</font>
        </h2>

        <center>
            <div class="container" style="display: inline-block;">

                <div class="row">
                    <div class="col-sm-4" style="background: rgba(0,0,0,0.1); margin: 0.5em; border: 1px solid ghostwhite; border-radius: 0.5em;">

                        <div class="card" style="margin: 2em;  min-height: 450px;">

                            <div class="card-block">
                                <h4 class="card-title" id="event_name_card1" style="color: #000000;">
                                    <font color=#095c8f></font>Event Name</h4>
                                <p class="card-text" id="event_desc_card1" style="color: #095c8f;">
                                    <font size=5 color=#095c8f>Event description</font>
                                </p>
                            </div>
                            <ul class="list-group list-group-flush special-card" style="background: transparent;opacity: 0.7">
                                <li class="list-group-item">
                                    <p id="event_start_date1" style="display: inline-block; font-weight: 400"></p><br>&nbsp;&#64;<br>
                                    <span style="display: inline-block;"></span>
                                    <p id="event_start_time1" style="display: inline-block; font-weight: 400">11:11pm</p>
                                </li>
                                <li class="list-group-item">
                                    <p id="event_end_date1" style="display: inline-block; font-weight: 400">11/11/11</p><br>&nbsp;&#64;<br>
                                    <span style="display: inline-block;"></span>
                                    <p id="event_end_time1" style="display: inline-block; font-weight: 400">11:11pm</p>
                                </li>
                            </ul>
                            <div class="card-block">

                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" id="btn1" type="button" data-toggle="dropdown">Interested
                                    <span class="caret"></span></button>
                                    <ul class="dropdown-menu" id="dropdown-menu1">
                                        <li><a>Going</a></li>
                                        <li><a>Interested</a></li>
                                        <li class="divider"></li>
                                        <li><a>Not Going</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-4" style="background: rgba(0,0,0,0.1); margin: 0.5em; border: 1px solid ghostwhite; border-radius: 0.5em;">

                        <div class="card" style="margin: 2em; min-height: 450px;">

                            <div class="card-block">
                                <h4 class="card-title" id="event_name_card2" style="color: #000000;">
                                    <font size=5 color=#095c8f>Event description</font>Event Name</h4>
                                <p class="card-text" id="event_desc_card2" style="color: #095c8f;">
                                    <font size=5 color=#095c8f>Event description</font>Event Description</p>
                            </div>
                            <ul class="list-group list-group-flush special-card" style="background: transparent; opacity: 0.7">
                                <li class="list-group-item">
                                    <p id="event_start_date2" style="display: inline-block;font-weight: 400">
                                        <font size=5 color=#095c8f>11/11/11</font>
                                    </p><br>&nbsp;&#64;<br>
                                    <span style="display: inline-block;"></span>
                                    <p id="event_start_time2" style="display: inline-block;font-weight: 400">11:11pm</p>
                                </li>
                                <li class="list-group-item">
                                    <p id="event_end_date2" style="display: inline-block;font-weight: 400">11/11/11</p><br>&nbsp;&#64;<br>
                                    <span style="display: inline-block;"></span>
                                    <p id="event_end_time2" style="display: inline-block;font-weight: 400">11:11pm</p>
                                </li>
                            </ul>
                            <div class="card-block">

                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" id="btn2" type="button" data-toggle="dropdown">Interested
                                    <span class="caret"></span></button>
                                    <ul class="dropdown-menu" id="dropdown-menu2">
                                        <li><a>Going</a></li>
                                        <li><a>Interested</a></li>
                                        <li class="divider"></li>
                                        <li><a>Not Going</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4" style="background: rgba(0,0,0,0.1); margin: 0.5em; border: 1px solid ghostwhite; border-radius: 0.5em;">

                        <div class="card" style="margin: 2em; min-height: 450px;">

                            <div class="card-block">
                                <h4 class="card-title" id="event_name_card3" style="color: #000000;">
                                    <font size=5 color=#095c8f>Event description</font>Event Name</h4>
                                <p class="card-text" id="event_desc_card3" style="color: #095c8f;">
                                    <font size=5 color=#095c8f>Event description</font>Event Description</p>
                            </div>
                            <ul class="list-group list-group-flush special-card" style="background: transparent;opacity:0.7">
                                <li class="list-group-item">
                                    <p id="event_start_date3" style="display: inline-block;font-weight: 400">11/11/11</p>
                                    <br>&nbsp;&#64;<br>
                                    <span style="display: inline-block;"></span>
                                    <p id="event_start_time3" style="display: inline-block;font-weight: 400">11:11pm</p>
                                </li>
                                <li class="list-group-item">
                                    <p id="event_end_date3" style="display: inline-block;font-weight: 400">11/11/11</p><br>&nbsp;&#64;<br>
                                    <span style="display: inline-block;font-weight: 400"></span>
                                    <p id="event_end_time3" style="display: inline-block;font-weight: 400">11:11pm</p>
                                </li>
                            </ul>
                            <div class="card-block">

                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" id="btn3" type="button" data-toggle="dropdown">Interested
                                    <span class="caret"></span></button>
                                    <ul class="dropdown-menu" id="dropdown-menu3">
                                        <li><a>Going</a></li>
                                        <li><a>Interested</a></li>
                                        <li class="divider"></li>
                                        <li><a>Not Going</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </center>
    </div>

    <div style="margin-top: 3em; background: url('eventlistback.jpg'); background-repeat: no-repeat; background-size: 100%;" id="events_section">
        <center>
            <section style="margin: 3em; padding-top: 100px; padding-bottom: 150px; margin-right: 7.5em; color=#095c8f; background: transparent; opacity: 1;">
                <h2 class="pull-left" style="margin: 1.8em; ">
                    <font color=#095c8f>List of events</font>
                </h2>
                <div style="margin: 2em; opacity: 1;">
                    <h2 id="events_heading"></h2>
                </div>
                <div style="margin: 2em; background: transparent; opacity: 4; ">
                    <table class="table table-hover table-bordered" id="events_table" style="margin: 2em; border: 2px solid ghostwhite"></table>
                </div>
            </section>
        </center>
    </div>



    <footer class="footer-distributed" id="footer_section">

        <div class="footer-left">

            <span><img style="display: inline-block; height: 3em; width: 3em; margin-top: -1em;" src="datelogo.png"></span>
            <h3>NotifyMe</h3>

            <p class="footer-company-name" style="margin-top: 1em;">NotifyMe &copy; 2017</p>
        </div>

        <div class="footer-center">

            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>IIIT Hyderabad, Gachibowli</span> Hyderabad, India</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+91 987654321</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p>support@notifyme.com</p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <span>About the company</span> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
            </p>

            <div class="footer-icons">

                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>

            </div>

        </div>

    </footer>

    <script type="text/javascript">
        //function requestBtnClicked(data);

        $(document).ready(function() {


            $(document).on('scroll', function(e) {
                if ($(window).width() > 992) {
                    var rgba = $(document).scrollTop() / 500;
                    $('.navbar').css('background-color', 'rgba(255,255,255,' + rgba + ')');
                }
            });

            var username_print, badge_number;
            //  ...............delete events prior to current day...................
            $.ajax({
                type: 'POST',
                url: '/deleteEvents',
                success: function(data) {
                    console.log("deleted previous events!");
                }
            });
            //......................................................................

            document.getElementById("profile_name").innerHTML = localStorage.getItem("username_local") + "<span class=\"badge\" id=\"notifications\">0</span>";



            //....................Notifications number


            var event_creator = localStorage.getItem("username_local");
            var creator = {
                creator: event_creator
            };
            console.log("........................." + creator.creator + "...............................");
            $.ajax({
                type: 'POST',
                data: creator,
                url: '/getEventnameForNotification',
                success: function(data) {


                    console.log("eventslist ka data " + data);
                    var eventslistdetails = data;


                    // for every event query inside requestedEvents

                    var count_notifications = 0;
                    for (var i = 0; i < eventslistdetails.length; i++) {

                        var eventname = {
                            eventname: eventslistdetails[i].eventname
                        };
                        console.log("\nfor ke andar " + eventname);

                        $.ajax({

                            type: 'POST',
                            data: eventname,
                            url: '/getNotifications',
                            success: function(data) {

                                var requestedlist = data;
                                var flag = 0;
                                //$("#notifications_table").empty();
                                for (var j = 0; j < requestedlist.length; j++) {

                                    var eventname = requestedlist[j].eventname;
                                    var username = requestedlist[j].username;
                                    console.log(requestedlist[j].username);
                                    count_notifications++;
                                }
                                console.log("count_notifications.........." + count_notifications);
                                localStorage.setItem("notifications_number", count_notifications);
                                username_print = localStorage.getItem("username_local");
                                badge_number = localStorage.getItem("notifications_number");
                                document.getElementById("profile_name").innerHTML = username_print + "&nbsp;&nbsp;<span class=\"badge\" id=\"notifications\">&nbsp;" + badge_number + "</span>";
                            }
                        });
                    }

                }
            });


            $(function() {

                $("#dropdown-menu1 li a").click(function() {

                    $("#btn1").text($(this).text());
                    $("#btn1").val($(this).text());

                });

            });


            $(function() {

                $("#dropdown-menu2 li a").click(function() {

                    $("#btn2").text($(this).text());
                    $("#btn2").val($(this).text());

                });

            });


            $(function() {

                $("#dropdown-menu3 li a").click(function() {

                    $("#btn3").text($(this).text());
                    $("#btn3").val($(this).text());

                });

            });




            $("#create_event_navbar_btn").click(function() {
                $.ajax({
                    type: 'GET',
                    url: '/createEvent',
                    success: function(data) { //do something with the data via front-end framework //location.reload(); //renderHtml(data); 

                        window.location.pathname = "/createEvent"
                    }
                });
                return false;
            });



            $("#logout_navbar_btn").click(function() {
                localStorage.setItem("username_local", "");
                $.ajax({
                    type: 'GET',
                    url: '/register',
                    success: function(data) { //do something with the data via front-end framework //location.reload(); //renderHtml(data); 

                        window.location.pathname = "/register"
                    }
                });
                return false;
            });





            $("#profile_name").click(function() {
                $.ajax({
                    type: 'GET',
                    url: '/notify',
                    success: function(data) {
                        window.location.pathname = "/notify"
                        console.log("welcome");
                    }

                });
                return false;
            });

            $("#calendar").click(function() {
                $.ajax({
                    type: 'GET',
                    url: '/calendar',
                    success: function(data) {
                        window.location.pathname = "/calendar"
                        console.log("calendar rendered");
                    }

                });
                return false;
            });


            $("#contact_us").click(function() {
                $('html,body').animate({
                    scrollTop: $("#footer_section").offset().top
                }, 'slow');

            });


            $("#view_event_navbar_btn").click(function() {
                $('html,body').animate({
                    scrollTop: $("#events_section").offset().top
                }, 'slow');
            });



            //            $("#view_event_navbar_btn").click(function() {
            var notusername_send = localStorage.getItem("username_local");

            var notusername = {
                notusername_send: notusername_send,
            };

            $.ajax({
                type: 'POST',
                data: notusername,
                url: '/viewEvent',
                success: function(data) {

                    console.log(data);
                    var events = data;

                    $("#events_table").empty();
                    var header = "<thead style=\"background-color: #363939;\"><th colspan=\"2\"><p  style=\"color: ghostwhite;\"><font size=\"4\">EventName</p></th><th><p style=\"color: ghostwhite;\"><font size=\"4\">Event Description</p></th><th><p  style=\"color: ghostwhite;\"><font size=\"4\">Starts on</p></th><th><p  style=\"color: ghostwhite;\"><font size=\"4\">Starts at</p></th><th><p  style=\"color: ghostwhite;\"><font size=\"4\">Ends on</p></th><th><p  style=\"color: ghostwhite;\"><font size=\"4\">Ends at</p></th><th><p  style=\"color: ghostwhite;\"><font size=\"4\">Status</p></th></thead>";
                    $("#events_table").append(header);


                    for (var i = events.length - 1; i >= 0; i--) {
                        var eventname = events[i].eventname;
                        var eventdesc = events[i].eventdesc;
                        var startdate = events[i].startdate;

                        var startdate_final = startdate.substr(0, 10);

                        var starttime = events[i].starttime;
                        var enddate = events[i].enddate;
                        var enddate_final = enddate.substr(0, 10);
                        var endtime = events[i].endtime;

                        //alert(eventname);


                        var findStatus = {
                            username: localStorage.getItem("username_local"),
                            eventname: eventname
                        };
                        var status;
                        var flag = 0;
                        $.ajax({
                            type: 'POST',
                            data: findStatus,
                            url: '/findStatus',
                            success: function(data) {
                                status = data[0].status;
                                console.log(status);

                                flag = 1;
                                var tdata = "<tr style=\"background: ghostwhite;\"><td><p><font size=\"4\" color=#363939>" + eventname + "</font></p></td><td colspan=\"2\"><p><font size=\"4\" color=#363939>" + eventdesc + "</p></td><td><p><font size=\"4\" color=#363939>" + startdate_final + "</p></td><p>&nbsp; &#64; </p> <td><p><font size=\"4\" color=#363939>" + starttime + "</p></td><p>&nbsp; &#64;</p><td><p><font size=\"4\" color=#363939>" + enddate_final + "</p></td><td><p><font size=\"4\" color=#363939>" + endtime + "</p></td>" + "<td><font size=\"4\" color=#363939>" + status + "</td></font></tr>";

                                $("#events_table").prepend(tdata);
                                console.log(eventname);
                            }
                        });

                        console.log("jbhgvfdxfcgvhbj " + status);
                        if (status == undefined)
                            status = "Interested";

                        if (flag == 0) {

                            var tdata = "<tr style=\"background: ghostwhite;\"><td><p><font size=\"4\" color=#363939>" + eventname + "</font></p></td><td colspan=\"2\"><p><font size=\"4\" color=#363939>" + eventdesc + "</p></td><td><p><font size=\"4\" color=#363939>" + startdate_final + "</p></td><p>&nbsp; &#64; </p> <td><p><font size=\"4\" color=#363939>" + starttime + "</p></td><p>&nbsp; &#64;</p><td><p><font size=\"4\" color=#363939>" + enddate_final + "</p></td><td><p><font size=\"4\" color=#363939>" + endtime + "</p></td>" + "<td id=\"status>"+i+"\"><font size=\"4\" color=#363939>" + status + "</td></font></tr>";

                            $("#events_table").prepend(tdata);
                            console.log(eventname);
                            console.log(tdata);

                        }


                    }

                    $('#events_table').find('tr').click(function() {

                        var i = $(this).index();
                        
                        var username_request = localStorage.getItem("username_local");
                        var eventname_request = events[i].eventname;
                        var data = {
                            username_request: username_request,
                            eventname_request: eventname_request
                        };

                        console.log(data);
                        //                        alert(data.username_request + " " + data.eventname_request);


                        $.ajax({
                            type: 'POST',
                            url: '/request_btn_clicked',
                            data: data,
                            success: function(data_received) {
                                //do something with the data via front-end framework
                                //location.reload();
                                //renderHtml(data);

                                console.log(data_received);
                                console.log("Data capaity mila idhar " + data_received[0].capacity);

                                if (data_received[0].capacity == 0) {
                                    alert(data_received[0].eventname + " is full");
                                }
                                if (data_received[0].capacity > 0) {

                                    var username_request = localStorage.getItem("username_local");
                                    var eventname_request = events[i].eventname;
                                    var data_new = {
                                        username_request: username_request,
                                        eventname_request: eventname_request
                                    };
                                    console.log(data_new);


                                    $.ajax({
                                        type: 'POST',
                                        url: '/request_available',
                                        data: data_new,
                                        success: function(dataX) {
                                            console.log("inside request event call back");
                                            console.log(dataX);
                                            
                                            document.getElementById("status"+i).innerHTML = "Requested";

                                            //alert(data_new[0].username_request + " " + data_new[0].eventname_request);
                                            window.location.pathname = "/home"

                                        }
                                    });
                                }
                            }
                        });
                    });

                }
            });

            //....document ready ends here....
        });

        //..........................................................................................................

        var events = <%- JSON.stringify(eventslist);%>
        console.log(events);

        for (var i = 0; i < 1; i++) {
            var eventname = events[i].eventname;
            var eventdesc = events[i].eventdesc;
            var startdate = events[i].startdate.substr(0, 10);
            var starttime = events[i].starttime;
            var enddate = events[i].enddate.substr(0, 10);
            var endtime = events[i].endtime;

            //alert(eventname);

            document.getElementById("event_name_card1").innerHTML = eventname;
            document.getElementById("event_desc_card1").innerHTML = eventdesc;
            document.getElementById("event_start_date1").innerHTML = startdate;
            document.getElementById("event_start_time1").innerHTML = starttime;
            document.getElementById("event_end_date1").innerHTML = enddate;
            document.getElementById("event_end_time1").innerHTML = endtime;
        }


        for (var i = 1; i < 2; i++) {
            var eventname = events[i].eventname;
            var eventdesc = events[i].eventdesc;
            var startdate = events[i].startdate.substr(0, 10);
            var starttime = events[i].starttime;
            var enddate = events[i].enddate.substr(0, 10);
            var endtime = events[i].endtime;

            //alert(eventname);

            document.getElementById("event_name_card2").innerHTML = eventname;
            document.getElementById("event_desc_card2").innerHTML = eventdesc;
            document.getElementById("event_start_date2").innerHTML = startdate;
            document.getElementById("event_start_time2").innerHTML = starttime;
            document.getElementById("event_end_date2").innerHTML = enddate;
            document.getElementById("event_end_time2").innerHTML = endtime;
        }


        for (var i = 2; i < 3; i++) {
            var eventname = events[i].eventname;
            var eventdesc = events[i].eventdesc;
            var startdate = events[i].startdate.substr(0, 10);
            var starttime = events[i].starttime;
            var enddate = events[i].enddate.substr(0, 10);
            var endtime = events[i].endtime;

            //alert(eventname);

            document.getElementById("event_name_card3").innerHTML = eventname;
            document.getElementById("event_desc_card3").innerHTML = eventdesc;
            document.getElementById("event_start_date3").innerHTML = startdate;
            document.getElementById("event_start_time3").innerHTML = starttime;
            document.getElementById("event_end_date3").innerHTML = enddate;
            document.getElementById("event_end_time3").innerHTML = endtime;
        }




        ////            
        //            
        //            
        //            $("#events_table").prepend(tData);
        //
        ////            document.getElementById("event_name_card3").innerHTML = eventname;
        ////            document.getElementById("event_desc_card3").innerHTML = eventdesc;
        ////            document.getElementById("event_start_date3").innerHTML = startdate;
        ////            document.getElementById("event_start_time3").innerHTML = starttime;
        ////            document.getElementById("event_end_date3").innerHTML = enddate;
        ////            document.getElementById("event_end_time3").innerHTML = endtime;
        //        }

    </script>


    <!-- jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>


    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>

</html>
