<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NotifyMe</title>
    <link rel="icon" type="image/gif/png" href="datelogo.png">
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

    <style>
        .jumbotron {
            position: relative;
            background: #000 url("eventsback.jpg");
            width: 100%;
            height: 100%;
            background-size: cover;
            overflow: inherit;
            background-blend-mode: lighten;
        }

        .above {
            margin-bottom: 10px;
        }


        .affix {
            top: 0;
            width: 100%;
            z-index: 9999 !important;
        }

        .affix+.container-fluid {
            padding-top: 0px;
        }

        .modal-body {
            overflow-y: inherit;
            z-index: 9999;
        }

        .input-group {
            overflow-y: inherit;
            z-index: 9999 !important;
        }

    </style>

</head>

<body>

    <!-- Modal -->
    <div class="modal fade" id="eventCreatedModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <center>
                        <img style="display: inline-block; height: 3em; width: 3em; margin-top: -1em;" src="datelogo.png">
                        <!--                    <i style="display: inline-block; margin-right: 1.5em;" class="glyphicon glyphicon-calendar"></i>-->
                        <span style="display: inline-block;"><font size="5" color="black">NotifyMe</font></span>
                    </center>
                </div>
                <div class="modal-body">
                    <h4 class="modal-title">Event Created</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" id="createdOK_btn" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>

        </div>
    </div>



    <div class="modal fade" id="createEventModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create Event</h4>
                </div>
                <div class="modal-body">
                    <center>
                        <form>

                            <div style="width:450px; margin-top: 2.5em;">
                                <div class="input-group" style="margin: 1.5em;">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input class="form-control" id="event_name" type="text" value="" placeholder="Event Name" data-placement="right" style="min-width: 100%;" required/>
                                </div>

                                <div class="input-group" style="margin: 1.5em;">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <textarea id="event_desc" class="form-control" style="min-width: 100%;" placeholder="Event Description" required></textarea>
                                </div>


                                <div id="event_start" class="input-group" style="margin: 1.5em;">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input id="start_date" type="text" name="name" value="" style="min-width: 100%; height: 2.5em;" placeholder="Starts..." data-toggle="tooltip" data-placement="center" required/>

                                    <input id="start_time" class="timepicker" style="min-width: 100%;" />

                                </div>

                                <div id="event_end" class="input-group" style="margin: 1.5em;">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input id="end_date" type="text" placeholder="Ends..." style="min-width: 100%; height: 2.5em;" data-placement="right" required/>

                                    <input id="end_time" class="timepicker" style="min-width: 100%;" />
                                </div>

                                <div style="margin: 1.5em;">
                                    <p class="text-center">

                                        <button type="button" class="btn btn-success" id="create_event_btn" name="commit" value="request" style="background-color: darkseagreen;"><font size="3" color="white" data-dismiss="modal" data-toggle="modal" data-target="#eventCreatedModal">Create event</font></button>
                                    </p>
                                    <hr>
                                </div>
                            </div>
                        </form>
                    </center>
                </div>
            </div>
        </div>
    </div>


    <div class="container above">
    </div>
    <!--nav bar-->
    <nav class="navbar navbar-light" data-spy="affix" data-offset-top="10">
        <div class="container-fluid" style="background-color: white;">
            <div class="navbar-header">
                <!--href to register page-->
                <!--                <a class="navbar-brand" href="/public/index.html">-->
                <img style="display: inline-block; height: 3em; width: 3em; margin-top: -1em;" src="datelogo.png">
                <!--                    <i style="display: inline-block; margin-right: 1.5em;" class="glyphicon glyphicon-calendar"></i>-->
                <span style="display: inline-block;"><font size="5" color="black">NotifyMe</font></span>
            </div>

            <ul class="nav navbar-nav mr-auto" style="margin-top: 0.5em; margin-left: 60em;">
                <button type="button" id="create_event" class="nav-item active" data-toggle="modal" data-target="#createEventModal">Create Event</button>
            </ul>

        </div>
    </nav>
    <div class="jumbotron jumbotron-fluid" style="margin-top: -1em;">

        <h2 style="margin-left: 2em; margin-top: -1em; margin-bottom: 1em;">
            <font color="#f7f7f7">Upcoming Events</font>
        </h2>

        <center>
            <div class="container">

                <div class="row">
                    <div class="col-md-4" class="card-bg" style="background-color: #d4fcf4; margin-left: -1em; display: fixed;">

                        <div class="card" style="width: 25rem; margin: 2em; height : 38rem;">

                            <div class="card-block">
                                <h4 class="card-title" id="event_name_card1">Event Name</h4>
                                <p class="card-text" id="event_desc_card1">Event description</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <p id="event_start_date" style="display: inline-block;"></p>&nbsp;&#64;
                                    <span style="display: inline-block;"></span>
                                    <p id="event_start_time" style="display: inline-block;">11:11pm</p>
                                </li>
                                <li class="list-group-item">
                                    <p id="event_end_date" style="display: inline-block;">11/11/11</p>&nbsp;&#64;
                                    <span style="display: inline-block;"></span>
                                    <p id="event_end_time" style="display: inline-block;">11:11pm</p>
                                </li>
                            </ul>
                            <div class="card-block">

                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" id="btn1" type="button" data-toggle="dropdown">Interested
                                    <span class="caret"></span></button>
                                    <ul class="dropdown-menu" id="dropdown-menu1">
                                        <li><a>Going</a></li>
                                        <li><a>Interested</a></li>
                                        <li class="divider"></li>
                                        <li><a>Not Going</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4" style="background-color: #fcfcd8; margin-left: 0.5em;">

                        <div class="card" style="width: 25rem; margin: 2em; height: 38rem;">

                            <div class="card-block">
                                <h4 class="card-title" id="event_name_card2">Event Name</h4>
                                <p class="card-text" id="event_desc_card2">Event Description</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <p id="event_start_date2" style="display: inline-block;">11/11/11</p>&nbsp;&#64;
                                    <span style="display: inline-block;"></span>
                                    <p id="event_start_time2" style="display: inline-block;">11:11pm</p>
                                </li>
                                <li class="list-group-item">
                                    <p id="event_end_date2" style="display: inline-block;">11/11/11</p>&nbsp;&#64;
                                    <span style="display: inline-block;"></span>
                                    <p id="event_end_time2" style="display: inline-block;">11:11pm</p>
                                </li>
                            </ul>
                            <div class="card-block">

                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" id="btn2" type="button" data-toggle="dropdown">Interested
                                    <span class="caret"></span></button>
                                    <ul class="dropdown-menu" id="dropdown-menu2">
                                        <li><a>Going</a></li>
                                        <li><a>Interested</a></li>
                                        <li class="divider"></li>
                                        <li><a>Not Going</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" class="card-bg" style="background-color: #fbc9c9; margin-left: 0.5em;">

                        <div class="card" style="width: 25rem; margin: 2em; height: 38rem;">

                            <div class="card-block">
                                <h4 class="card-title" id="event_name_card3">Event Name</h4>
                                <p class="card-text" id="event_desc_card3">Event Description</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <p id="event_start_date3" style="display: inline-block;">11/11/11</p>&nbsp;&#64;
                                    <span style="display: inline-block;"></span>
                                    <p id="event_start_time3" style="display: inline-block;">11:11pm</p>
                                </li>
                                <li class="list-group-item">
                                    <p id="event_end_date3" style="display: inline-block;">11/11/11</p>&nbsp;&#64;
                                    <span style="display: inline-block;"></span>
                                    <p id="event_end_time3" style="display: inline-block;">11:11pm</p>
                                </li>
                            </ul>
                            <div class="card-block">

                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" id="btn3" type="button" data-toggle="dropdown">Interested
                                    <span class="caret"></span></button>
                                    <ul class="dropdown-menu" id="dropdown-menu3">
                                        <li><a>Going</a></li>
                                        <li><a>Interested</a></li>
                                        <li class="divider"></li>
                                        <li><a>Not Going</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </center>
    </div>


    <div style="margin-top: 10em;"></div>

    <script>
        
        $(document).ready(function() {

            console.log("login document ready");

            $('#start_date').datepicker();
            $('#end_date').datepicker();



            $('.timepicker').timepicker({
                timeFormat: 'h:mm p',
                interval: 15,
                minTime: '10',
                maxTime: '11:00pm',
                defaultTime: '11',
                startTime: '10:00',
                dynamic: true,
                dropdown: true,
                scrollbar: true,
            });


            $("#create_event_btn").click(function() {

                var eventname = document.getElementById("event_name").value;
                var eventdesc = document.getElementById("event_desc").value;
                var startdate = document.getElementById("start_date").value;
                var starttime = document.getElementById("start_time").value;
                var enddate = document.getElementById("end_date").value;
                var endtime = document.getElementById("end_time").value;


                var data = {
                    eventname: eventname,
                    eventdesc: eventdesc,
                    startdate: startdate,
                    starttime: starttime,
                    enddate: enddate,
                    endtime: endtime

                };

                //alert(eventname + eventdesc + startdate + starttime + enddate + endtime);

                $.ajax({
                    type: 'POST',
                    url: '/create_event',
                    data: data,
                    success: function(data) {
                        //do something with the data via front-end framework
                        //location.reload();
                        //renderHtml(data);
                        console.log("inside create event call back");
                        console.log(data);

                        //$("#signupModal").modal('show');
                    }
                });
            });


            $(function() {

                $("#dropdown-menu1 li a").click(function() {

                    $("#btn1").text($(this).text());
                    $("#btn1").val($(this).text());

                });

            });


            $(function() {

                $("#dropdown-menu2 li a").click(function() {

                    $("#btn2").text($(this).text());
                    $("#btn2").val($(this).text());

                });

            });


            $(function() {

                $("#dropdown-menu3 li a").click(function() {

                    $("#btn3").text($(this).text());
                    $("#btn3").val($(this).text());

                });

            });

            //            $("#create_event").click(function() {
            //                
            //            });
        });
        
        
        var events = <%- JSON.stringify(eventslist);%>
        console.log(events);

        for (var i = 0; i < 1; i++) {
            var eventname = events[i].eventname;
            var eventdesc = events[i].eventdesc;
            var startdate = events[i].startdate;
            var starttime = events[i].starttime;
            var enddate = events[i].enddate;
            var endtime = events[i].endtime;

            //alert(eventname);

            document.getElementById("event_name_card1").innerHTML = eventname;
            document.getElementById("event_desc_card1").innerHTML = eventdesc;
            document.getElementById("event_start_date").innerHTML = startdate;
            document.getElementById("event_start_time").innerHTML = starttime;
            document.getElementById("event_end_date").innerHTML = enddate;
            document.getElementById("event_end_time").innerHTML = endtime;
        }


        for (var i = 1; i < 2; i++) {
            var eventname = events[i].eventname;
            var eventdesc = events[i].eventdesc;
            var startdate = events[i].startdate;
            var starttime = events[i].starttime;
            var enddate = events[i].enddate;
            var endtime = events[i].endtime;

            //alert(eventname);

            document.getElementById("event_name_card2").innerHTML = eventname;
            document.getElementById("event_desc_card2").innerHTML = eventdesc;
            document.getElementById("event_start_date2").innerHTML = startdate;
            document.getElementById("event_start_time2").innerHTML = starttime;
            document.getElementById("event_end_date2").innerHTML = enddate;
            document.getElementById("event_end_time2").innerHTML = endtime;
        }


        for (var i = 2; i < 3; i++) {
            var eventname = events[i].eventname;
            var eventdesc = events[i].eventdesc;
            var startdate = events[i].startdate;
            var starttime = events[i].starttime;
            var enddate = events[i].enddate;
            var endtime = events[i].endtime;

            //alert(eventname);

            document.getElementById("event_name_card3").innerHTML = eventname;
            document.getElementById("event_desc_card3").innerHTML = eventdesc;
            document.getElementById("event_start_date3").innerHTML = startdate;
            document.getElementById("event_start_time3").innerHTML = starttime;
            document.getElementById("event_end_date3").innerHTML = enddate;
            document.getElementById("event_end_time3").innerHTML = endtime;
        }


    </script>


    <!-- jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>


    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>

</html>
