<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NotifyMe</title>
    <link rel="icon" type="image/gif/png" href="datelogo.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        .jumbotron {
            position: relative;
            background: #000 url("jumbo1.jpg");
            width: 100%;
            height: 100%;
            background-size: cover;
            overflow: hidden;
            background-blend-mode: lighten;
        }

        .above {
            margin-bottom: 10px;
        }


        .affix {
            top: 0;
            width: 100%;
            z-index: 9999 !important;
        }

        .affix+.container-fluid {
            padding-top: 0px;
        }

    </style>

</head>

<body>


    <!-- Modal -->
    <div class="modal fade" id="loginModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <center>
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Login</h4>
                    </div>
                    <div class="modal-body">
                        <div id="eventForm" style="margin: 2em;">

                            <form>

                                <div style="width:450px; margin-top: 2.5em;">
                                    <div class="input-group" style="margin: 1.5em;">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input class="form-control" id="name" type="text" name="name" value="" placeholder="Username" data-toggle="tooltip" data-placement="right" />
                                    </div>
                                    <div class="input-group" style="margin: 1.5em;">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input class="form-control" id="password" type="password" name="password" placeholder="Password" data-content="" data-toggle="tooltip" data-placement="right" data-analytics="AuthPageInput" data-attr1="Password" data-attr2="Signup" data-attr3="master" />
                                    </div>
                                    <div style="margin: 1.5em;">
                                        <p class="text-center">
                                            <!--button click connect to db-->
                                            <button class="btn btn-success" id="login_btn_modal" name="commit" value="request" data-analytics="SignupPassword" style="background-color: darkseagreen;"><font size="3" color="white">Log In</font></button>
                                        </p>
                                        <hr>
                                    </div>

                                    <div style="margin-top: 2em;">
                                        <p>
                                            <font size="3">Or connect with :</font>
                                        </p>
                                        <a class="btn btn-primary social-login-btn social-facebook" style="display: inline-block; margin-bottom: 2em; height: 2.8em; width: 2.8em;" href="/auth/facebook"><i class="fa fa-facebook"></i></a>
                                        <a class="btn btn-danger social-login-btn social-google" style="display: inline-block; margin-left: 1em; margin-bottom: 2em; height: 2.8em; width: 2.8em;" href="/auth/google"><i class="fa fa-google-plus"></i></a>
                                        <a class="btn btn-primary social-login-btn social-linkedin" style="display: inline-block; margin-bottom: 2em; height: 2.8em; width: 2.8em; margin-left: 1em;" href="/auth/linkedin"><i class="fa fa-linkedin"></i></a>
                                        <p>
                                            <!--new user href to register page-->
                                            <font size="3" style="color: cadetblue;">New user? Register now!</font>
                                        </p>
                                    </div>

                                    <p style="color: black">
                                        <!--href to 404 page-->
                                        <font size="2" color="black"><i>
                            By signing up you agree to our <a target="_blank" href="/public/404.html" style="color: black">Terms of Service</a> and <a target="_blank" href="/public/404.html" style="color: black;">Privacy Policy</font></a></i>
                                    </p>
                                </div>

                            </form>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="signupModal_btn" class="btn btn-default" data-dismiss="modal">Proceed to Login</button>
                    </div>
                </div>
            </center>
        </div>
    </div>




    <div class="container above">
    </div>
    <!--nav bar-->
    <nav class="navbar navbar-light" data-spy="affix" data-offset-top="10">
        <div class="container-fluid" style="background-color: white;">
            <div class="navbar-header">
                <!--href to register page-->
                <!--                <a class="navbar-brand" href="/public/index.html">-->
                <img style="display: inline-block; height: 3em; width: 3em; margin-top: -1em;" src="datelogo.png">
                <!--                    <i style="display: inline-block; margin-right: 1.5em;" class="glyphicon glyphicon-calendar"></i>-->
                <span style="display: inline-block;"><font size="5" color="black">NotifyMe</font></span>
                <div class="navbar-form navbar-center pull-right" style="margin-left: 73em; display: inline-block; margin-top: -3em;">
                    <button type="button" class="btn btn-default" style="background-color: white; color: black; border: 0.5px solid #4CAF50; hover:background-color: #4CAF50;" data-toggle="modal" data-target="#loginModal"><span style="display:inline-block; width: 0.4em; color: black;"></span><font color="green"> Log In</font><span style="display:inline-block; width: 0.4em;"></span></button>
                </div>
            </div>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid" style="margin-top: -1em;">
        <center>
            <!-- Hero section -->
            <div>
                <div class="container--flex">
                    <h1 style="color: ghostwhite; margin-top: -0.2em;">
                        <font size="15">Join. Connect. Create.</font>
                    </h1>
                    <p style="color: ghostwhite">Join a whole community and share your events.</p>
                    <form style="margin-bottom:-65px;">
                        <div style="width:450px;">
                            <div style="display:none;"></div>
                            <div class="input-group" style="margin-top: 2em;">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input class="form-control" id="username" type="text" name="username" value="" placeholder="Username" data-content="" data-toggle="tooltip" data-placement="right" required/>
                            </div>
                            <div class="input-group" style="margin-top: 1em;">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input class="form-control" id="email" type="email" name="email" value="" placeholder="Email" data-content="" data-toggle="tooltip" data-placement="right" data-analytics="AuthPageInput" data-attr1="Email" data-attr2="Signup" data-attr3="master" required/>
                            </div>
                            <div class="input-group" style="margin-top: 1em;">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input class="form-control" id="password" type="password" name="password" placeholder="Password" data-content="" data-toggle="tooltip" data-placement="right" data-analytics="AuthPageInput" data-attr1="Password" data-attr2="Signup" data-attr3="master" required/>
                            </div>
                            <div>
                                <p class="text-center" style="margin-top: 1em;">
                                    <button id="signup_btn" class="btn btn-success btn-block" name="commit" value="request" type="button" data-attr1="master" style="background-color: darkseagreen;"><font size="3" color="white" data-toggle="modal" data-target="#signupModal">Sign Up & Create Events</font></button>
                                </p>


                                <!--
                                <button id="signup_btn" type="button">Sign Up & Create Events</button>
                                
-->
                                <hr>
                            </div>
                        </div>
                        <div class="container" style="margin-top: 0.5em;">
                            <p style="color: ghostwhite;">
                                <font size="3">Or connect with :</font>
                            </p>
                            <a class="btn btn-primary social-login-btn social-facebook" style="display: inline-block; margin-bottom: 2em; height: 2.8em; width: 2.8em;" href="/auth/facebook"><i class="fa fa-facebook"></i></a>
                            <a class="btn btn-danger social-login-btn social-google" style="display: inline-block; margin-left: 1em; margin-bottom: 2em; height: 2.8em; width: 2.8em;" href="/auth/google"><i class="fa fa-google-plus"></i></a>
                            <a class="btn btn-primary social-login-btn social-linkedin" style="display: inline-block; margin-bottom: 2em; height: 2.8em; width: 2.8em; margin-left: 1em;" href="/auth/linkedin"><i class="fa fa-linkedin"></i></a>

                        </div>

                        <p style="color: ghostwhite">
                            <font size="2" color="white"><i>
<!--href to -->
                            By signing up you agree to our <a target="_blank" href="/public/404.html" style="color: ghostwhite">Terms of Service</a> and <a target="_blank" href="/public/404.html" style="color: ghostwhite;">Privacy Policy</font></a></i>
                        </p>
                    </form>
                    <br>
                    <br>
                </div>
            </div>
        </center>
    </div>

    <div class="container-fluid">
        <br>
        <br>
        <center>
            <p style="color: black;">
                <font size="5">Contact Us</font>
            </p>
            <br>
            <p style="color: dimgrey">
                <font size="3">International Institute of Information Technology, Hyderabad</font>
            </p>
            <p style="color: dimgrey;">
                <font size="3">Gachibowli, Hyderabad - 500032</font>
            </p>
        </center>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="signupModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Registration Successful</h4>
                </div>
                <div class="modal-body">
                    <p>Welcome to NotifyMe!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="signupModal_btn" class="btn btn-default" data-dismiss="modal">Proceed to Login</button>
                </div>
            </div>

        </div>
    </div>


    <!-- jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

    <script>
        $(document).ready(function() {

            console.log("signup document ready");

            $("#signup_btn").click(function() {

                var username = document.getElementById("username").value;
                var email = document.getElementById("email").value;
                var password = document.getElementById("password").value;

                var data = {
                    username: username,
                    email: email,
                    password: password

                };

                $.ajax({
                    type: 'POST',
                    url: '/signup',
                    data: data,
                    success: function(data) {
                        //do something with the data via front-end framework
                        //location.reload();
                        //renderHtml(data);
                        console.log("inside sign up call back");
                        console.log(data);

                        //$("#signupModal").modal('show');
                    }
                });
            });

            $("#signupModal_btn").click(function() {
                $.ajax({
                    type: 'GET',
                    url: '/login',
                    success: function(data) {
                        //do something with the data via front-end framework
                        //location.reload();
                        //renderHtml(data);

                        window.location.pathname = '/login'
                    }
                });

                return false;
            });


            $("#login_btn_modal").click(function() {
                var name = document.getElementById("name").value;
                var password = document.getElementById("password").value;
                var data = {
                    username: name,
                    password: password

                };

                $.ajax({
                    type: 'POST',
                    url: '/login_check',
                    data: data,
                    success: function(data) {
                        //do something with the data via front-end framework
                        //location.reload();
                        //renderHtml(data);
                        console.log("inside sign in call back");
                        console.log(data);

                        if (data.length == 1) {
                            window.location.pathname = "/home"
                        } else {
                            alert("Invalid Username/password");
                            //$("#badLoginModal").modal('show');
                        }
                    }
                });
            });


        });

    </script>


</body>

</html>
